
@charset "ISO-8859-1";

@font-face {
    font-family: 'Fontin';
    src: url('fonts/Fontin-Regular.woff2') format('woff2'),
         url('fonts/Fontin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Improves performance by showing fallback text first */
}

.email-img {
	vertical-align: middle; /* Aligns image center with text center */
	height: 1.2em;          /* Scales image relative to font size */
	width: auto;            /* Maintains aspect ratio */
}

@font-face {
    font-family: 'Fontin';
    src: url('fonts/Fontin-Bold.woff2') format('woff2'),
         url('fonts/Fontin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
	/* font-family: Times New Roman; */
	font-family: 'Fontin', serif;
    font-display: swap; /* Improves performance by showing fallback text first */
}

a:link{
	text-decoration:none; 
	color: #0000FF;
	}
a:visited{
	text-decoration:none;
	color: #0066AA;
	}
a:active{
	text-decoration:none;
	}
a:hover{
	text-decoration:underline;
	}

#main {
	width: 650pt;
	margin: auto;
}

.image{
	border-width:1pt;
	border-style:inset;
	border-color:black;
	padding:3pt;
}

.imageHeader{
	border-width:1pt;
	border-style:inset;
	border-color:black;
	padding:0pt;
}


.links{
	word-spacing: 10pt;
	margin-top:2pt;
	margin-bottom:0pt;
}

.mainlinks{
	word-spacing: 5pt;
	margin-top:2pt;
	margin-bottom:0pt;
	text-align:center;
	font-size:150%;
}

#cv {
	width: 650pt;
	margin: auto;
}

#class807 {
	width: 650pt;
	margin: auto;
}

#mocap {
	width: 650pt;
	margin: auto;
}

#publications {
	width: 650pt;
	margin: auto;
}

